#app{
  width: 1000px;
border: 1px solid black;
margin: auto;
display:flex;
height:90vh;
}

.test{

  animation-name: example;
 animation-duration: 9s;

}


#cardStack{

  top:60px;
  position:relative;
}



@-webkit-keyframes example {
  from {transform:translate(1000px,-200px);}
  to {transform:translateX(0px);}
}



.player_hand,.dealer_hand{

display:flex;
    height: 50%;
    flex-wrap:wrap
}
.dealer_hand{


}

.card_container{

  border:1px solid black;
  height:250px;
  width:200px;
  position:relative;
  transition:3s;
  perspective: 900px;

}
.value-top{
  position:absolute;
  top:2px;
}

.value-bottom{
  position:absolute;
  bottom:2px;
  right:2px;
}

.suit{

 position:absolute;
  top:30%;
  left:35%;
  font-size:3rem;

}

.stacked_card{
  position:absolute;
  background:blue;
}

.displayNone{
  display:none;
}

.displayBlock{
  display:block !important
}

.hit,.stand{
  display:none;
}
.red{
  color:red;
}
.cover_card{
  background:black;
  color:black;
}


@media only screen and (min-width: 320px) {
#app{
width:90%;
flex-direction: column;

}

#cardStack{
  display:none
}
.card_container {
  height: 48%;
width: 25%;

}
}
@media only screen and (min-width: 1024px){

  .card_container {
    height: 250px;
width: 204px;

}
#cardStack{
  display:block;
  top: 200px;
      left: 1156px;
}

}
